# code to merge two piece of csv files for school data

In [1]:
import pandas as pd
import numpy as np

In [2]:
schools_df1=pd.read_csv('birminghamschools.csv')
schools_df2=pd.read_csv('330_school_information.csv')

In [3]:
schools_df1.head()

,School_Name,STREET,POSTCODE,Easting,Northing,WEB_SITE,School_Group,MAINTAIN_STATUS,LEA_NO,DCFS_No,LNG,LAT
0,Acocks Green Primary School,Westley Road,B27 7UQ,411976,283216,http://acocks.schooljotter2.com/,Primary,Academy Converter,330,2020,-1.825223,52.446795
1,Adderley Nursery School,Adderley Road,B8 1EH,409476,287857,http://www.addleyn.bham.sch.uk/,Nursery,LA Nursery School,330,1027,-1.861875,52.488557
2,Adderley Primary School,Arden Road,B8 1DZ,409534,287331,http://www.adderleyprimary.co.uk/,Primary,Community School,330,2010,-1.861051,52.483827
3,Al-Furqan Primary School,Reddings Lane,B11 3EY,410459,283448,http://www.al-furqan-pri.bham.sch.uk/,Primary,Voluntary Aided School,330,5949,-1.847550,52.448903
4,Al-Hijrah School,"Cherrywood Centre, Burbidge Road",B9 4US,410058,287022,http://www.alhijrahschool.co.uk/,All Through,Voluntary Aided School,330,4334,-1.853329,52.481040

In [4]:
schools_df1.columns

Index(['School_Name', 'STREET', 'POSTCODE', 'Easting', 'Northing', 'WEB_SITE',
       'School_Group', 'MAINTAIN_STATUS', 'LEA_NO', 'DCFS_No', 'LNG', 'LAT'],
      dtype='object')

In [5]:
schools_df1.drop(['LEA_NO','DCFS_No','Easting', 'Northing','MAINTAIN_STATUS','WEB_SITE'],axis=1, inplace=True)

In [6]:
schools_df1.columns

Index(['School_Name', 'STREET', 'POSTCODE', 'School_Group', 'LNG', 'LAT'], dtype='object')

In [7]:
schools_df1.head()

,School_Name,STREET,POSTCODE,School_Group,LNG,LAT
0,Acocks Green Primary School,Westley Road,B27 7UQ,Primary,-1.825223,52.446795
1,Adderley Nursery School,Adderley Road,B8 1EH,Nursery,-1.861875,52.488557
2,Adderley Primary School,Arden Road,B8 1DZ,Primary,-1.861051,52.483827
3,Al-Furqan Primary School,Reddings Lane,B11 3EY,Primary,-1.847550,52.448903
4,Al-Hijrah School,"Cherrywood Centre, Burbidge Road",B9 4US,All Through,-1.853329,52.481040

In [8]:
schools_df2.head()

,URN,LANAME,LA,ESTAB,LAESTAB,SCHNAME,STREET,LOCALITY,ADDRESS3,TOWN,...,ISPRIMARY,ISSECONDARY,ISPOST16,AGELOW,AGEHIGH,GENDER,RELCHAR,ADMPOL,OFSTEDRATING,OFSTEDLASTINSP
0,103157,Birmingham,330,2008,3302008,Shaw Hill Primary School,Anthony Road,Alum Rock,NaN,Birmingham,...,1,0,0,3,11,Mixed,Does not apply,Not applicable,Outstanding,09-03-2017
1,103159,Birmingham,330,2010,3302010,Adderley Primary School,Arden Road,Saltley,NaN,Birmingham,...,1,0,0,4,11,Mixed,Does not apply,Not applicable,Good,14-12-2016
2,103162,Birmingham,330,2014,3302014,Barford Primary School,Barford Road,Ladywood,NaN,Birmingham,...,1,0,0,3,11,Mixed,Does not apply,Not applicable,Good,05-07-2017
3,103163,Birmingham,330,2016,3302016,Beeches Junior School,"Beeches Junior School, Beeches Road",Great Barr,NaN,Birmingham,...,1,0,0,7,11,Mixed,Does not apply,Not applicable,Good,10-01-2018
4,103164,Birmingham,330,2017,3302017,Beeches Infant School,Beeches Road,NaN,NaN,Birmingham,...,1,0,0,4,7,Mixed,Does not apply,Not applicable,Good,28-06-2017

In [9]:
schools_df2.columns

Index(['URN', 'LANAME', 'LA', 'ESTAB', 'LAESTAB', 'SCHNAME', 'STREET',
       'LOCALITY', 'ADDRESS3', 'TOWN', 'POSTCODE', 'SCHSTATUS', 'OPENDATE',
       'CLOSEDATE', 'MINORGROUP', 'SCHOOLTYPE', 'ISPRIMARY', 'ISSECONDARY',
       'ISPOST16', 'AGELOW', 'AGEHIGH', 'GENDER', 'RELCHAR', 'ADMPOL',
       'OFSTEDRATING', 'OFSTEDLASTINSP'],
      dtype='object')

In [10]:
schools_df2.drop(['URN', 'LANAME', 'ADDRESS3', 'LA', 'ESTAB', 'LAESTAB','OPENDATE', 'CLOSEDATE','RELCHAR', 'ADMPOL', 'MINORGROUP','OFSTEDLASTINSP'],axis=1, inplace=True)

In [11]:
schools_df2.head()

,SCHNAME,STREET,LOCALITY,TOWN,POSTCODE,SCHSTATUS,SCHOOLTYPE,ISPRIMARY,ISSECONDARY,ISPOST16,AGELOW,AGEHIGH,GENDER,OFSTEDRATING
0,Shaw Hill Primary School,Anthony Road,Alum Rock,Birmingham,B8 3AN,Open,Community school,1,0,0,3,11,Mixed,Outstanding
1,Adderley Primary School,Arden Road,Saltley,Birmingham,B8 1DZ,Open,Community school,1,0,0,4,11,Mixed,Good
2,Barford Primary School,Barford Road,Ladywood,Birmingham,B16 0EF,Open,Community school,1,0,0,3,11,Mixed,Good
3,Beeches Junior School,"Beeches Junior School, Beeches Road",Great Barr,Birmingham,B42 2PY,Open,Community school,1,0,0,7,11,Mixed,Good
4,Beeches Infant School,Beeches Road,NaN,Birmingham,B42 2PY,Open,Community school,1,0,0,4,7,Mixed,Good

In [12]:
combined_schools_df=pd.merge(schools_df1,schools_df2, how='inner', left_on='School_Name', right_on='SCHNAME')

In [13]:
combined_schools_df.columns

Index(['School_Name', 'STREET_x', 'POSTCODE_x', 'School_Group', 'LNG', 'LAT',
       'SCHNAME', 'STREET_y', 'LOCALITY', 'TOWN', 'POSTCODE_y', 'SCHSTATUS',
       'SCHOOLTYPE', 'ISPRIMARY', 'ISSECONDARY', 'ISPOST16', 'AGELOW',
       'AGEHIGH', 'GENDER', 'OFSTEDRATING'],
      dtype='object')

In [14]:
combined_schools_df.drop(['POSTCODE_y','STREET_y','SCHNAME'],axis=1, inplace=True)

In [15]:
combined_schools_df.count()

School_Name     373
STREET_x        373
POSTCODE_x      373
School_Group    373
LNG             373
LAT             373
LOCALITY        300
TOWN            373
SCHSTATUS       373
SCHOOLTYPE      373
ISPRIMARY       373
ISSECONDARY     373
ISPOST16        373
AGELOW          373
AGEHIGH         373
GENDER          373
OFSTEDRATING    333
dtype: int64

In [16]:
combined_schools_df.columns

Index(['School_Name', 'STREET_x', 'POSTCODE_x', 'School_Group', 'LNG', 'LAT',
       'LOCALITY', 'TOWN', 'SCHSTATUS', 'SCHOOLTYPE', 'ISPRIMARY',
       'ISSECONDARY', 'ISPOST16', 'AGELOW', 'AGEHIGH', 'GENDER',
       'OFSTEDRATING'],
      dtype='object')

In [17]:
combined_schools_df.rename(columns={'STREET_x':'STREET','POSTCODE_x':'POSTCODE'}, inplace=True)

In [18]:
combined_schools_df.columns

Index(['School_Name', 'STREET', 'POSTCODE', 'School_Group', 'LNG', 'LAT',
       'LOCALITY', 'TOWN', 'SCHSTATUS', 'SCHOOLTYPE', 'ISPRIMARY',
       'ISSECONDARY', 'ISPOST16', 'AGELOW', 'AGEHIGH', 'GENDER',
       'OFSTEDRATING'],
      dtype='object')

In [20]:
combined_schools_df.to_csv('combined_school_data.csv')