In [1]:
# Dependencies

import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Import the combined dataset

combined_df = pd.read_csv(Path('combined_df_updated.csv'))
combined_df = combined_df.drop(['Unnamed: 0'],axis='columns')
combined_df

,School_Name,STREET,POSTCODE,LNG,LAT,LOCALITY,GENDER,OFSTEDRATING,price_paid,postcode,...,estate_type,street,Longitude,Latitude,LSOA name,Lat,Long,Bus Route Number,Street,Area
0,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,Mixed,2,103000,B31 4AA,...,L,turves green,-1.970502,52.399615,Birmingham,52.399383,-1.970796,106,turves green,Turves Green
1,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,Mixed,2,103000,B31 4AA,...,L,turves green,-1.970502,52.399615,Birmingham,52.402915,-1.967193,109,turves green,Turves Green
2,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,Mixed,2,103000,B31 4AA,...,L,turves green,-1.970502,52.399615,Birmingham,52.399958,-1.970208,40,turves green,Turves Green
3,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,Mixed,2,103000,B31 4AA,...,L,turves green,-1.970502,52.399615,Birmingham,52.403777,-1.964738,97,turves green,Turves Green
4,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,Mixed,2,103000,B31 4AA,...,L,turves green,-1.970502,52.399615,Birmingham,52.403786,-1.962224,101,turves green,Turves Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30856,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,Boys,1,452625,B13 0SA,...,F,wheelers lane,-1.882696,52.429039,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30857,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,Boys,1,452625,B13 0SA,...,F,wheelers lane,-1.888482,52.426689,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30858,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,Boys,1,452625,B13 0SA,...,F,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30859,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,Boys,1,452625,B13 0SA,...,F,wheelers lane,-1.888482,52.426689,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30860,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,Boys,1,452625,B13 0SA,...,F,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath

In [3]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30861 entries, 0 to 30860
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   School_Name       30861 non-null  object
 1   STREET            30861 non-null  object
 2   POSTCODE          30861 non-null  object
 3   LNG               30861 non-null  float64
 4   LAT               30861 non-null  float64
 5   LOCALITY          30791 non-null  object
 6   GENDER            30861 non-null  object
 7   OFSTEDRATING      30861 non-null  int64
 8   price_paid        30861 non-null  int64
 9   postcode          30861 non-null  object
 10  property_type     30861 non-null  object
 11  new_build         30861 non-null  object
 12  estate_type       30861 non-null  object
 13  street            30861 non-null  object
 14  Longitude         30861 non-null  float64
 15  Latitude          30861 non-null  float64
 16  LSOA name         30861 non-null  object
 17  Lat               30861 non-null  float64
 18  Long              30861 non-null  float64
 19  Bus Route Number  30861 non-null  int64
 20  Street            30861 non-null  object
 21  Area              30861 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 5.2+ MB

In [4]:
# Convert the required catagorical columns into numerical data

property_type_dict = {'F':0,'O':1,'T':2,'S':3, 'D':5}
df1 = combined_df.replace({'property_type':property_type_dict})
Yes_No = {'Y':0,'N':1}
df2 = df1.replace({'new_build':Yes_No})
estate_type_dict = {'L':0, 'F':1}
df3 = df2.replace({'estate_type':estate_type_dict})
gender_type = {'Mixed':0, 'Girls':1, 'Boys':2}
df4 = df3.replace({'GENDER':gender_type})
df4

,School_Name,STREET,POSTCODE,LNG,LAT,LOCALITY,GENDER,OFSTEDRATING,price_paid,postcode,...,estate_type,street,Longitude,Latitude,LSOA name,Lat,Long,Bus Route Number,Street,Area
0,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.399383,-1.970796,106,turves green,Turves Green
1,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.402915,-1.967193,109,turves green,Turves Green
2,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.399958,-1.970208,40,turves green,Turves Green
3,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.403777,-1.964738,97,turves green,Turves Green
4,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.97240,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.403786,-1.962224,101,turves green,Turves Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30856,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.882696,52.429039,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30857,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30858,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30859,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30860,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.88798,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath

In [5]:
# Drop any duplicates within the dataset

df5 = df4.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
df5

,School_Name,STREET,POSTCODE,LNG,LAT,LOCALITY,GENDER,OFSTEDRATING,price_paid,postcode,...,estate_type,street,Longitude,Latitude,LSOA name,Lat,Long,Bus Route Number,Street,Area
0,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.972400,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.399383,-1.970796,106,turves green,Turves Green
1,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.972400,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.402915,-1.967193,109,turves green,Turves Green
2,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.972400,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.399958,-1.970208,40,turves green,Turves Green
3,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.972400,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.403777,-1.964738,97,turves green,Turves Green
4,Albert Bradbeer Primary Academy,turves green,B31 4RD,-1.972400,52.394491,Longbridge,0,2,103000,B31 4AA,...,0,turves green,-1.970502,52.399615,Birmingham,52.403786,-1.962224,101,turves green,Turves Green
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30852,Wheelers Lane Primary School,wheelers lane,B13 0SF,-1.887664,52.428572,Kings Heath,0,2,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30855,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.887980,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.882696,52.429039,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30856,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.887980,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.882696,52.429039,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath
30857,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.887980,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428135,-1.885508,114,wheelers lane,King's Heath
30858,Wheelers Lane Technology College,wheelers lane,B13 0SF,-1.887980,52.429227,Kings Heath,2,1,452625,B13 0SA,...,1,wheelers lane,-1.888482,52.426689,Birmingham,52.428189,-1.885066,97,wheelers lane,King's Heath

In [6]:
# Group the postcodes together

pc = df5["POSTCODE"].str.split(pat=' ', expand=True)
new_postcode = pc.drop([1], axis=1)
new_postcode
Pc2 = new_postcode[0].str.replace('B', '')

Pc2.value_counts()

31    3012
45    2880
10     220
32     184
9      144
13     116
36     105
34      90
29      36
28      20
25      20
33      15
27      12
44      12
23      12
8        8
20       1
Name: 0, dtype: int64

In [7]:
# Form a cleaner DataFrame with only the required columns
clean_df = pd.DataFrame({'Postcode': Pc2,
                         'OFSTED Rating': df5['OFSTEDRATING'],
                         'Price Paid': df5['price_paid'],
                         'Property Type': df5['property_type'],
                         'New Build': df5['new_build'],
                         'Estate Type': df5['estate_type'],
                         'Bus Route Number': df5['Bus Route Number']})
clean_df

,Postcode,OFSTED Rating,Price Paid,Property Type,New Build,Estate Type,Bus Route Number
0,31,2,103000,0,1,0,106
1,31,2,103000,0,1,0,109
2,31,2,103000,0,1,0,40
3,31,2,103000,0,1,0,97
4,31,2,103000,0,1,0,101
...,...,...,...,...,...,...,...
30852,13,2,452625,5,1,1,97
30855,13,1,452625,5,1,1,114
30856,13,1,452625,5,1,1,97
30857,13,1,452625,5,1,1,114
30858,13,1,452625,5,1,1,97

In [8]:
# Convert Postcode from an object to an integer
clean_df['Postcode'] = pd.to_numeric(clean_df['Postcode'],errors = 'coerce')
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6887 entries, 0 to 30858
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Postcode          6887 non-null   int64
 1   OFSTED Rating     6887 non-null   int64
 2   Price Paid        6887 non-null   int64
 3   Property Type     6887 non-null   int64
 4   New Build         6887 non-null   int64
 5   Estate Type       6887 non-null   int64
 6   Bus Route Number  6887 non-null   int64
dtypes: int64(7)
memory usage: 430.4 KB

In [9]:
# Split the data
data = clean_df.drop(['Price Paid'], axis=1)
target = clean_df['Price Paid'].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

# Unscaled Data Predictions

Our prediction would be that the Random Forest Classifier will work best for our dataset in comparison to Logistic Regression as it tends to have high accuracy prediction as well as being able to handle a large amount of features.

In [10]:
# Train the Logistic Regression model on the unscaled data

from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver='lbfgs', max_iter=100000)
clf

LogisticRegression(max_iter=100000)

In [11]:
# Fitting the trained data and print the model score
clf.fit(X_train, y_train)

print(f"Logistic Regression Training Data Score: {clf.score(X_train, y_train)}")
print(f"Logistic Regression Testing Data Score: {clf.score(X_test, y_test)}")

Logistic Regression Training Data Score: 0.46834462729912874
Logistic Regression Testing Data Score: 0.4465737514518002

C:\Users\makar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of f AND g EVALUATIONS EXCEEDS LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
# Train a Random Forest Classifier model and print the model score

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=42, n_estimators=500)
clf.fit(X_train, y_train)

print(f'RFC Training Score: {clf.score(X_train, y_train)}')
print(f'RFC Testing Score: {clf.score(X_test, y_test)}')

RFC Training Score: 0.543272023233301
RFC Testing Score: 0.3826945412311266

# Unscaled Data Results

The Random Forest Classifier achieved 54% for the training score whereas the testing score only achieved 38%, which was lower in comparison to the testing score of the Logistic Regression that achieved 45% thus disproving our hypothesis.

# Scaled Data Predictions

Random Forest Classifier is not as sensitive to scaling and so our prediction would be that its score should not be affected. However, the Logistic Regression score will improve significantly after scaling the data. In terms of which model should perform better, we assume RFC will have the higher accuracy scores.

In [13]:
# Scale the data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
# Train the Logistic Regression model on the scaled data and print the model score 

clf = LogisticRegression(solver='lbfgs', max_iter=10000)
clf.fit(X_train_scaled, y_train)

print(f"Logistic Regression Training Data Score: {clf.score(X_train_scaled, y_train)}")
print(f"Logistic Regression Testing Data Score: {clf.score(X_test_scaled, y_test)}")

Logistic Regression Training Data Score: 0.47221684414327203
Logistic Regression Testing Data Score: 0.4465737514518002

In [15]:
# Train a Random Forest Classifier model on the scaled data and print the model score

clf = RandomForestClassifier(random_state=42, n_estimators=500).fit(X_train_scaled, y_train)

print(f"RFC Training Data Score: {clf.score(X_train_scaled, y_train)}")
print(f'RFC Testing Data Score: {clf.score(X_test_scaled, y_test)}')

RFC Training Data Score: 0.543272023233301
RFC Testing Score: 0.3826945412311266

# Scaled Data Results

As predicted, after scaling the data, the Random Forest Classifier obtained the exact same scores as the unscaled data. In addition, the Logistic Regression model had a slight improvement on its training data score as expected with an increase of 0.4%.
Although the Random Forest Classifier testing scores did not prove to be as accurate as that of the Logistic Regression model, it did score higher on its training data scores. However, it was the Logistic Regression model that functioned better with our dataset overall as the difference between its testing and training scores were not as significant.